/**
 * Gravity Forms CSS Style Enhancements
 *
 * ------------------
 * Table of Contents
 * ------------------
 * 1. Labels
 * - 1.1 Advanced Field Sublabels
 */
 
/* ------------------
 * 1. Labels
 * ------------------ */

/*
 * 1.1 Advanced Field Sublabels
 */
.gform_wrapper .ginput_complex label,
.gform_wrapper .gfield_time_hour label,
.gform_wrapper .gfield_time_minute label,
.gform_wrapper .gfield_date_month label,
.gform_wrapper .gfield_date_day label,
.gform_wrapper .gfield_date_year label,
.gform_wrapper .instruction {
	font-size: 15px !important;
	margin: -5px 0 10px !important;
	letter-spacing: 0 !important;
	font-weight: normal !important;
}